@charset "UTF-8";
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

h1, h2, h3, h4 {
  color: #96d9ff; }

header {
  background-image: -webkit-linear-gradient(top, #96d9ff, white);
  background-image: -moz-linear-gradient(top, #96d9ff, white);
  background-image: -ms-linear-gradient(top, #96d9ff, white);
  background-image: -o-linear-gradient(top, #96d9ff, white);
  background-image: linear-gradient(top, #96d9ff, white); }
  header h1 {
    color: #0070b0;
    font-weight: normal;
    margin: .5em 0 0;
    text-align: center; }
  header span {
    font-style: italic; }

nav {
  margin: 0;
  background-color: #96d9ff;
  overflow: hidden; }
  nav a {
    padding: .5em .7em;
    background-color: #96d9ff;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .5s;
    /* Safari 3.1 to 6.0 */
    transition: all .5s; }
    nav a:hover {
      background-color: #4abdff; }

article {
  text-align: justify;
  background-image: -webkit-linear-gradient(bottom, #96d9ff, white);
  background-image: -moz-linear-gradient(bottom, #96d9ff, white);
  background-image: -ms-linear-gradient(bottom, #96d9ff, white);
  background-image: -o-linear-gradient(bottom, #96d9ff, white);
  background-image: linear-gradient(bottom, #96d9ff, white); }

footer {
  text-align: center;
  background-image: -webkit-linear-gradient(top, #96d9ff, white);
  background-image: -moz-linear-gradient(top, #96d9ff, white);
  background-image: -ms-linear-gradient(top, #96d9ff, white);
  background-image: -o-linear-gradient(top, #96d9ff, white);
  background-image: linear-gradient(top, #96d9ff, white); }

.col-1,
.col-2 {
  background-color: #e3f5ff; }

article h2,
aside h3,
footer h4 {
  color: #0070b0; }

article,
aside,
footer {
  line-height: 1.4; }

article h2 {
  margin-bottom: -.2em; }

* {
  box-sizing: border-box; }

body {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding-bottom: 1em; }

header, nav, article, aside, footer {
  flex: 1 1 0;
  padding: 1em; }

header {
  order: 1; }

article {
  order: 2; }

.col-1 {
  order: 3; }

.col-2 {
  order: 4; }

footer {
  order: 5; }

nav {
  order: 6;
  flex-shrink: 0; }

/* =======================================
  Efnisyfirlit - mobile
  ======================================== */
input {
  display: none; }

label {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 3px outset #999;
  color: #17abff;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  padding: .2em .4em;
  transition: all .4s ease;
  background-color: white;
  z-index: 999; }

input:checked + label {
  box-shadow: inset 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
  border: 2px inset #999;
  color: #96d9ff; }

input:checked ~ .topmenu {
  position: fixed;
  bottom: 2.9em;
  left: 0;
  z-index: 99;
  transition: all 1s ease; }

.topmenu {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  bottom: -15em;
  left: 0;
  width: 100%;
  background-color: #00a1fc;
  overflow: hidden;
  transition: all 1s ease;
  padding: 0;
  margin: 0; }
  .topmenu li {
    list-style-type: none;
    left: 0; }
  .topmenu a {
    display: block;
    width: 100%;
    z-index: 99;
    background-color: #17abff;
    color: white;
    border-bottom: 1px solid #00fcff;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: .5em; }
    .topmenu a:hover {
      background: #00fcff; }

/* allar myndir eiga a├░ vera ├¡ 100% st├ªr├░ */
img {
  display: flex;
  /* img er inline element */
  width: 100%;
  height: auto;
  /* auto heldur r├®ttu hlutfalli ├¡ mynd */ }

.box {
  display: flex;
  flex-flow: row wrap; }

/*ath! figure tagi├░ ├¥arf a├░ 0 stilla vegna ├¥ess a├░ normalize.css er me├░ extra 40px margin*/
figure {
  width: 50%;
  margin: 0;
  padding: 0; }

figure img {
  border: 1px solid #f80; }

figure img:hover {
  border: 2px solid #f00;
  cursor: pointer; }

@media screen and (min-width: 37.5em) {
  figure {
    width: 25%; } }
@media screen and (min-width: 48em) {
  body {
    margin-top: 2.4em; }

  header, nav, article, aside, footer {
    flex: 1 1 0;
    padding: 1em; }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .3em 0;
    flex: 1; }

  .topmenu {
    display: flex;
    flex-flow: row;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none; }
    .topmenu a {
      padding: .3em .5em;
      border-width: 0;
      border-left: 1px solid #00fcff; }

  .topmenu li:last-child {
    border-right: 1px solid #00fcff; }

  label {
    display: none; }

  .col-1 {
    order: 3;
    flex: 2 2 1em; }

  .col-2 {
    order: 5;
    flex: 2 2 1em; } }
@media screen and (min-width: 60em) {
  body {
    max-width: 60em;
    margin: 1.5em auto 0 auto; }

  article {
    order: 4;
    flex: 2 2 1em; }

  .col-1 {
    order: 3;
    flex: 1 1 0; }

  .col-2 {
    order: 5;
    flex: 1 1 0; }

  .topmenu a {
    padding: .3em 1em; } }
 /* thoughtbot (inspired by thoughtbot.com)
*******************************************************************************/
button.thoughtbot,
button.thoughtbot2 {
  background-color: #ee432e;
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
  border: 1px solid #951100;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
  color: #fff;
  font: bold 1.4em/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  width: 150px; }

button.thoughtbot:hover,
button.thoughtbot2:hover {
  background-color: #f37873;
  background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
  cursor: pointer; }

.auglysing {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  z-index: 1;
  height: 30em;
  margin-top: 1em;
  padding: .5em;
  background-color: #eee;
  border-radius: .4em;
  box-shadow: inset 0 0 3em #999;
  overflow: hidden; }

.auglysing a {
  text-decoration: none; }

.innihald h3, h4 {
  color: #900;
  margin: .5em 0; }

/***********animation***************/
.thoughtbot {
  position: relative;
  /* Chrome, Safari, Opera */
  animation: popp 5s 1;
  /* "popp" er lykillinn a├░ t├¡marammanum*/
  animation-direction: alternate; }

@keyframes popp {
  0% {
    left: 0;
    top: -10em; }
  80% {
    left: 0;
    top: 2em; }
  100% {
    left: 0;
    top: 0; } }
.auglysing2 {
  display: none; }

@media screen and (min-width: 48em) {
  .auglysing2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 7em;
    padding: .5em;
    background-color: #eee;
    border-radius: .4em;
    box-shadow: inset 0 0 3em #999;
    overflow: hidden; }

  .innihald2 {
    display: flex;
    flex: column;
    flex: 1 1 0; }

  .IV-I {
    flex: 4 4 2em; }

  .IV-I h1 {
    color: #900;
    margin: 0 0 .2em 0; }

  .IV-I h3 {
    color: #900;
    margin: 0; }

  .I-I {
    flex: 1 1 0;
    padding: 1em 3em 0 0; }

  /***********sprite 4***************/
  #sprite4 {
    border-radius: .4em;
    animation-name: imgFadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-direction: alternate; }

  @keyframes imgFadeIn {
    0% {
      opacity: 0; }
    70% {
      opacity: 0.1; }
    100% {
      opacity: 1; } }
  /***********animation 2***************/
  .thoughtbot2 {
    position: relative;
    margin-top: .5em;
    /* Chrome, Safari, Opera */
    animation: poppR 5s 1;
    /* "poppR" er lykillinn a├░ t├¡marammanum*/
    animation-direction: alternate; }

  @keyframes poppR {
    0% {
      right: -9em;
      top: 0; }
    60% {
      right: 3.6em;
      top: 0; }
    100% {
      right: 0;
      top: 0; } }
  /***********sprite 1***************/
  #sprite1 {
    position: relative;
    margin-top: .5em;
    font-weight: normal;
    animation: sprite_1 5s 1;
    /* "sprite_1" er lykillinn a├░ t├¡marammanum*/
    animation-direction: alternate; }

  @keyframes sprite_1 {
    0% {
      top: -3em;
      left: 0; }
    60% {
      top: 3em;
      left: 0; }
    100% {
      top: 0;
      left: 0; } }
  /***********sprite 2***************/
  #sprite2 {
    margin-top: -.5em;
    animation-name: h1FadeInOut;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-direction: alternate; }

  @keyframes h1FadeInOut {
    0% {
      opacity: 0; }
    70% {
      opacity: 0.1; }
    100% {
      opacity: 1; } } }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xvbaj8");
  src: url("../fonts/icomoon.eot?xvbaj8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xvbaj8") format("truetype"), url("../fonts/icomoon.woff?xvbaj8") format("woff"), url("../fonts/icomoon.svg?xvbaj8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="text-"],
[class*=" text-"],
[class^="logo-"],
[class*=" logo-"],
[class^="menu-"],
[class*=" menu-"],
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*
  ========================================
  Social buttons - M0bile
  ========================================
*/
.sMedia {
  display: flex;
  position: relative;
  background-color: none;
  order: 5; }

.sMedia a {
  text-decoration: none; }

.sMedia div {
  display: block;
  text-decoration: none; }

.menu-gj:before,
.icon-gj:before {
  content: "\e900"; }

.menu-facebook:before,
.icon-facebook:before {
  content: "\ea91"; }

.menu-github:before,
.icon-github:before {
  content: "\eab0"; }

.menu-soundcloud:before,
.icon-soundcloud:before {
  content: "\eac4"; }

.logo-gj:before {
  content: "\e900"; }

.logo-gj {
  color: #0070b0;
  font-size: 4em;
  transition: all 1s ease; }

.logo-gj:hover {
  color: #f00;
  transition: all 1s ease; }

.text-gj:before {
  content: "\e900"; }

.icon-gj,
.icon-github,
.icon-facebook,
.icon-soundcloud {
  color: #fff;
  font-size: 1.8em;
  margin-top: .3em; }

.text-gj {
  font-size: .8em; }

/*************logo******************/
.logo {
  margin: 0 0 .5em 2em; }

/***********Social******************/
.gjg {
  position: relative;
  height: 3em;
  width: 3em;
  padding: .6em 0 0 .6em;
  background: #1691be;
  transition: all 1s ease; }

.facebook {
  position: relative;
  height: 3em;
  width: 3em;
  padding: .6em 0 0 .6em;
  background: #166ba2;
  transition: all 1s ease; }

.github {
  position: relative;
  height: 3em;
  width: 3em;
  padding: .6em 0 0 .6em;
  background: #e9931a;
  transition: all 1s ease; }

.soundcloud {
  position: relative;
  height: 3em;
  width: 3em;
  padding: .6em 0 0 .6em;
  background: #f45136;
  transition: all 1s ease; }

/*background: litur(1) + mynd(2) + sta├░setning X-Y(3) + fixed/scroll(4) + repeat(5) */
/**************** hover effects ******************/
.gjg:hover {
  background: #97daf2;
  transition: all 1s ease;
  width: 4em; }

.facebook:hover {
  background: #5bd200;
  transition: all 1s ease;
  width: 4em; }

.github:hover {
  background: #ff4b16;
  transition: all 1s ease;
  width: 4em; }

.soundcloud:hover {
  background: #fd1e00;
  transition: all 1s ease;
  width: 4em; }

/* extra - https://css-tricks.com/centering-in-the-unknown/ */
.auglysing {
  display: flex;
  width: 100%;
  height: 10em;
  margin-top: 1em;
  background-color: #eee;
  border-radius: .4em; }

.innihald {
  vertical-align: middle;
  text-align: center; }

.txtRight {
  display: none; }

.buttmenu {
  display: none; }

@media screen and (min-width: 64em) {
  /*  ========================================
    Social buttons
    ========================================*/
  .sMedia {
    display: block;
    position: fixed;
    top: 4em;
    left: 0;
    height: 12em;
    width: 3em; }

  .sMedia div {
    width: 3em;
    margin: 0;
    padding: .5em 0 0 0; } }

/*# sourceMappingURL=allstyles.css.map */
